anthropic==0.45.2
fastapi==0.115.7
joblib==1.4.2
loguru==0.7.3
numpy==2.2.2
pandas==2.2.3
pydantic==2.10.6
pydantic_settings==2.7.1
pytest==8.3.4
python-dotenv==1.0.1
Requests==2.32.3
sentence_transformers==3.4.0
tqdm==4.67.1
typer==0.15.1
gunicorn
uvicorn
fastapi[standard]
